
.wrapper {
    height: 54px;
    display: flex;
    position: fixed;
    width: 100%;
    max-width: calc(100% - 4px);
    bottom: 0;
    background-color: var(--white-color);
    align-items: center;
    justify-content: space-evenly;
}

.list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    &:active {
        cursor: pointer;
        background-color: rgb(0, 131, 59)
    }
}

.list-add {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0 4px;
    &:active {
        cursor: pointer;
        background-color: rgb(0, 131, 59)
    }
}

.list-buy {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    background-color: var(--primary-color);
    position: relative;
}

.list-buy::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    border-left: 1px solid var(--white-color);
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 4px;
}

.buy {
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--white-color);
    padding: 4px;
}

.text {
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--text-color-color);
    padding-top: 8px;
}
.text-add {
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--white-color);
    padding-top: 8px;
}

.text-cart {
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--text-color);
}

.icon {
    font-weight: 300;
    color: var(--text-color);
}

.icon-add {
    font-weight: 300;
    color: var(--white-color);
}

.icon.active {
    color: var(--primary-color);
}

// cart
.cart-icon {
    padding: 4px;
    color: var(--white-color);
    cursor: pointer;
    position: relative;
}

.cart-amount {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--primary-color);
    right: -4px;
    top: -4px;
}

.cart-amount span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    color: var(--white-color);
}
