.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 24px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 8px 14px 0 rgba(0,0,0,0.19);
    
    &:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 14px 30px 0 rgba(0,0,0,0.19)
    }
}

.wrapper-nopost {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 120px);
    margin-bottom: 24px;
}

.title, .header {
    padding: 8px;
    text-align: left;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.6rem;
}

.header {
    padding: 8px;
    text-align: left;
    color: var(--text-color);
    font-weight: 400;
    font-size: 2rem;
}

.header-title {
    padding: 12px;
    text-align: left;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    width: 100%;
    background-color: var(--white-color);
    border-bottom: 1px solid #ccc;
}

.content-nopost {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 60px);
}

.text-nopost {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    padding: 4px 8px;
}

.content {
    margin: 8px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.link {
    padding: 6px 12px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
}

.img {
    width: 100%;
}

.mobile .img {
    width: 200px;
}

.mobile .header {
    font-size: 1.6rem;
}

.text {
    padding: 8px;
}