
    $primary-color: rgb(171, 48, 163);
    $delete-color: rgb(200, 40, 40);
    $white-color: #fff;
    $error-color:#FF1E1E;
    $black-color:#000;
    $text-color:rgb(198, 139, 197);
    $background-color: rgb(222, 197, 232);
    $border-color: #dbdbdb;
