.wrapper {
    min-height: 70vh;
    background-color: var(--background-color);
    margin-bottom: 60px;
}

.main {
    padding: 12px 0;
    
}

.header {
    background-color: var(--white-color);
    padding: 8px;
    margin-bottom: 12px;
}

.header-text {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.6rem;
}

.content__checkbox {
    font-size: 1.6rem;
    padding: 4px 12px;
}

.content {
    background-color: var(--white-color);
    margin-bottom: 12px;
}

.content-header {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.content-footer {
    display: flex;
    align-items: center;
    padding: 8px 0;
    min-height: 64px;
}

.content__title {
    width: 320px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content__list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 460px;
    padding: 0 12px;
}


.content__text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    padding: 8px 12px;
    text-align: center;
}

.content__list-text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    padding: 8px 4px;
    text-align: center;
    min-width: 120px;
}

.content__text.text {
    color: var(--primary-color);
}
.click.content__text {
    cursor: pointer;
}

.body {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    margin-bottom: 12px;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.body__title {
    width: 320px;
    display: flex;
    align-items: center;
}
.decription {
    
    display: flex;
    align-items: center;
}

.cart-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.list {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.title-amount {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    margin-right: 12px;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount-icon {
    padding: 4px;
    border: 1px solid #ccc;
    margin: 0 6px;
    cursor: pointer;
}

.amount-icon:active {
    background-color: #ccc;
}

.amount-text {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 4px;
    margin: 0 6px;
}

// cart null

.cart-null {
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-color);
    margin-bottom: 48px;
}

.cart-null-img {
    width: 260px;
}

.cart-null-text {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 12px;
}

// mobile
.content-mobile {
    z-index: 10;
    height: 60px;
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 60px;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    padding: 4px 4px;
    align-items: center;
}

.content__list-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}