
/* product- show*/
.wrapper {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--primary-color);
    padding: 12px 0;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: justify;
    line-height: 2.2rem;
}

.header {
    padding-top: 24px;
    color: var(--text-color);
    text-align: justify;
    font-size: 1.8rem;
    line-height: 2.2rem;
}
.content {
    font-size: 1.6rem;
    color: var(--text-color);
    padding-top: 24px;
    text-align: justify;
    line-height: 2.2rem;
}
.wrapper-img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    justify-self: center;
    align-self: center;
    margin-top: 24px;
    height: 400px;
    width: 50%;
    object-fit: cover;
}
.list {
    padding: 8px 8px;
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);

}
.list-value {
    padding: 8px 8px;
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    text-align: center;

}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu-item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
   
}
.menu-value {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    justify-content: center;
    .list {
        color: var(--primary-color)
    }
}
.action {
    margin-top: 24px;
    display: flex;
    justify-content: center
}
.button {
    margin-left: 16px;
}

.btn-action {
    margin: 0 12px;
}

@media (max-width: 740px) {
    .img {
        width: 100%;
        height: 250px;
        object-fit: contain;
    }
}