body .wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    &:hover {
        box-shadow: 0 0.2rem 1.6rem 0 rgba(0, 0, 0, 0.1);
    }
}

.text {
    padding: 8px 4px;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
}

.data {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--primary-color);
    padding: 8px 4px;
}
