.main {
    background-color: var(--background-color);
    height: 60px;
}
.wrapper {
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    position: fixed;
    width: inherit;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
.inner {
    display: flex;
    height: 100%;
    background-color: rgb(119, 221, 187);
    justify-content: space-evenly;
    align-items: center;
}
.logo-wrapper {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;
}
.logo-img {
    height: 55px;
    padding: 0 20px;
    border-radius: 50%;
}


// actions 
.actions {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-mobile {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-btn {
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
    
}


.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
}

.cart {
    margin-right: 2px;
}

.link-login {
    padding: 4px;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
}

// user menu
.user-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
}


.user-avatar {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 6px 0 60px;
}

.user-avatar-mobile {
    cursor: pointer;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    cursor: pointer;
    min-width: 100px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 4px;
}

@media (max-width: 740px) {
    .user-content.mobile {
        width: 90px;
    }
}

.user-name-mobile {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 4px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

// cart
.cart-icon {
    padding: 4px;
    color: var(--white-color);
    cursor: pointer;
    position: relative;
}

.icon {
    font-size: 2.2rem;
    color: var(--white-color);
}

.cart-amount {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    right: -4px;
    top: -4px;
}

.cart-amount span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    color: var(--white-color);
}
