
/* product-item */
.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    background-color: var(--white-color);
    display: block;
    text-decoration: none;
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    transition: transfrom linear 0.1s;
    will-change: transfrom;}
.home-product-item:hover {
    box-shadow: 0 0.2rem 1.6rem 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}
.home-product-item__img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
}
.home-product-item__name {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 10px 10px 6px;
    height: 3.4rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

}
.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old {
    text-decoration: line-through;
    font-size: 1.4rem;
    color: #666;
    margin-left: 10px;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 10px 0;
}
.home-product-item__like {
    
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #f63d3d;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}
.home-product-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}
.home-product-item__star-gold {
    color:gold;
}
.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
    
}
.home-product-item__origin {
    display: flex;
    margin: 3px 10px 0;
    font-weight: 300;
    color: #595959;
    font-size: 1.2rem;
}
.home-product-item__brand {
    margin-right: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);

}
.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}
.home-product-item__sale-off {
    border-top-right-radius: 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.95);
}
.home-product-item__sale-off-percent {
    color: rgb(243, 61, 61);
    margin-top: 4px;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 2px;
}
.home-product-item__sale-off-lable {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
    position: relative;
    top: 2px;
}
.home-product-item__sale-off::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.95);
    border-color: transparent currentColor transparent currentColor;
}

// no product
.wrapper {
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    margin-bottom: 48px;

}

.product-body {
    background-color: var(--white-color);
    min-height: 600px;
}

.text {
    padding: 12px;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.content {
    background-color: var(--white-color);
}
