
.wrapper {
    height: 60px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    padding: 4px 4px;
    align-items: center;
    justify-content: space-evenly;
}

.list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    &:hover {
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: 0.08);
    }
}

.list-add {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background-color: var(--primary-color);
    &:hover {
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: 0.08);
    }
}

.list-buy {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.buy {
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 0 6px;
}

.text {
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--text-color-color);
    padding-top: 8px;
}
.text-add {
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--white-color);
    padding-top: 8px;
}

.text-cart {
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--text-color);
}

.icon {
    font-weight: 300;
    color: var(--text-color);
}

.icon-add {
    font-weight: 300;
    color: var(--white-color);
}

.icon.active {
    color: var(--primary-color);
}

// cart
.cart-icon {
    padding: 4px;
    color: var(--white-color);
    cursor: pointer;
    position: relative;
}

.cart-amount {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--primary-color);
    right: -4px;
    top: -4px;
}

.cart-amount span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    color: var(--white-color);
}
